@import url('https://fonts.cdnfonts.com/css/gill-sans-2');
@import url('https://fonts.cdnfonts.com/css/abril-fatface');

article {
    font-family: 'Gill Sans', sans-serif;
    max-inline-size: 400px;
    background: #fff;
    margin-block: 3rem;
    box-shadow:
        0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 1rem;
    border: 1px solid #DADCEB;
}

.picture {
    display: grid;
    /*padding: .5rem; No padding, better to make the img fit the whole area. */

    >* {
        grid-area: 1 / 1;
    }

    .back {
        place-self: start;
        margin: 1rem;
        z-index: 1;
        /* Added a circular background to btn. Changed color to make it darker instead of white. */
        color: #000000a8;
        background: #fff;
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        display: grid;
        place-content: center;
    }

    .image-count {
        padding: .5rem 1rem;
        border-radius: 1rem;
        letter-spacing: 2px;
        line-height: 1;
        place-self: end;
        /* Same color but with decreased lightness. Makes it darker */
        background: hsl(215.3,14.8%,27.5%);
        color: #fff;
        margin: 1rem;
    }

    img {
        border: 1px solid #DADCEB;
        /* Fixed border radius to better match the article container. */
        border-radius: 1rem 1rem 0rem 0rem;
    }
}

.card-content {
    display: grid;
    gap: 1rem;
    padding: 0 2rem 1rem;
    header {
        margin-block-start: 1em;
    }
}

.title {
    font-family: 'Abril Fatface', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    /* color: #3C55CC; Disabling this, for better consistency. */
}

.location {
    color: #585858; /* Made color AAA contrast proof. */
    /* text-transform: uppercase;  No uppercase pls */
    font-size: .95em;
}

.description p {
   /* text-align: center; No center text please. */
    color: #323232; /* To make the P text slightly darker than Heading. I guess? */
}


.description {
    /* Just for fun, set a max "height" on the container, based on text. */
    /* Will scroll when there is too much text. Added padding-right to make space for scrollbar. */
    max-block-size: 20ch;
    overflow-y: scroll;
    padding-right: 0.5rem;
    > p:not(:first-of-type) {
        margin-block-start: 1em;
    }
    
}

.amenities-details {
    display: flex;
    gap: 1rem;
    /* Added border and padding, to better seperate elements, looks nicer. */
    border-block: 0.063rem solid #585858;
    padding-block: 0.5rem;

    li {
        flex: 1;
        display: grid;
        gap: .75rem;
        place-items: center;
        padding: .25rem;
        /* background: #F0F2FF; Nah, doesn't need this. */
        color: #3C55CC;
        p {
            /* Changed color of <p> text, to improve contrast and readability. */
            color: #323232;
        }
    }
}


footer {
    padding: 1rem 2rem;
    box-shadow: 0 -2px 4px -1px #0002;

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;


    button {
        padding: .75rem 1rem;
        border: none;
        line-height: 1;
        border-radius: 8px;
        font-weight: 500;
        /* Fixed broken font inheriting. Looks nicer now. */
        font-family: inherit;
        font-size: inherit;
        /* Changed the colors here. */
        background: #364DB9;
        color: #FFF;
    }

    .price {
        font-weight: 600;

        span {
            /* Fixed bad color contrast, and removed font size. */
            color: #585763;
            /*font-size: 0.75em;*/
            font-weight: 400;
        }
    }
}











@layer reset {
    * {
        margin: 0;
        box-sizing: border-box;
    }

    body {
        min-height: 100svh;
        font-family: system-ui, sans-serif;
        display: grid;
        place-content: center;
        background: #F5F6FA;
    }

    img,
    svg {
        display: block;
        max-inline-size: 100%;
        height: auto;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .sr-only {
        border: 0 !important;
        clip: rect(1px, 1px, 1px, 1px) !important;
        /* 1 */
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        /* 2 */
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        white-space: nowrap !important;
    }
}