article {
    --content-width: 80ch;
    --popout-width: 90ch;
    --gap: clamp(1rem, 5vw, 2rem);
    --content: min(100% - var(--gap) * 2, var(--content-width));
    --popout: minmax(auto, calc(var(--popout-width) - var(--content-width)));
    --full: minmax(var(--gap), 1fr);

    display: grid;
    grid-template-columns:
        [full-start] var(--full)
        [popout-start] var(--popout)
        [content-start] var(--content) [content-end]
        var(--popout) [popout-end]
        var(--full) [full-end];
    row-gap: var(--gap);
    
    > *:not(blockquote, img) {
        grid-column: content; 
    }
    > blockquote {
        grid-column: popout;
    }
    > img {
        grid-column: full;
    }
}
